/* Header section style */
.header-container{
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-image: url("../images/banner/banner1.png"); */
    /* height: 100vh */
    /* width: 100%; */
    /* background: url(../images/banner/banner1.png); */
    /* background-size: 100%; */
    /* image height: 100%; */
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    
}
.header-text-container{
    /* background-image: url(../images/banner/banner1.png); */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover; 
    background-size: cover;
    align-items: center;
}
.image-container{
    height:100%;
    width:100%;
}
.header-text{

color: #151414;
 font-size: 65px;
 font-family: Work Sans;
 font-weight: 700;
 word-wrap: break-word;
 text-align: right;
}
.header-text-item{
color: #979393;
 font-size: 16px;
 font-family: Work Sans;
 font-weight: 400;
 line-height: 26px;
 word-wrap: break-word;
 text-align: right;
}
.btn-primary{
font-size: 20px;
font-weight: 700;
word-wrap: break-word;
color: white;
font-family: Work Sans;
background-color: #F15B22;
}
/* main container style */

    /* background-color: #F15B22; */

.main-container{
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    height: 100%;
    /* margin-left: 206px; */
    /* margin-top: 300px; */
    
}
.main-heading-container{
    display: block;
    align-items: normal;
}
.main-text{
    border: 0px;
    margin: 15px;
    padding: 25px;
}
/* body */
.body-text{
    color: #151414;
font-size: 40px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
text-align: center;
align-items: center;
}

/* plan style */
.plan-container{
    width: 80%;
    margin: auto;
}
.plan-heading{
    text-align: center;
    margin: 5px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
}
.plan{
    margin: 5px;
    align-items: center;
    text-align: center;
}
.plan-para{
    color: darkgray;
}

/* mindset style */
.mindset-container{
    /* align-items: first baseline; */
    height: 25vh;
    width: 80%;
    border-radius: 2opx;
    margin: auto;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    padding: auto;
    /* margin-left: 100px;? */
   
    background-image: linear-gradient(90deg,#227cf1 0%,rgba(241,91,34,0.00)100%),url(../images/watch.png);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.mindset-btn{
    color: white;
    background-color: #F15B22;
    height: 20px;
    box-shadow: none;
    border-radius: 20px;
}
/* footer style */
.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #151414;
    color: white;
}
.subs{
    margin-top: 10px;
    background-color: white;
    color: #F15B22;
    border-radius: 7px;
    text-align: center;
}
.form{
    border-radius: 3px;
}